/*@font-face {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Inter'),
        url('src/fonts/Inter/Inter-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local('Inter'),
    url('src/fonts/Inter/Inter-Bold.ttf') format('ttf');
}*/

.todoo {
    display: flex;
    justify-content: space-between;
    width: 512px;
    height: 84px;
    margin-left: 26px;
    margin-bottom: 13px;
    background: #D2D2D2;
}

.todoo-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.todoo-title {
    margin: 5px 0 7px 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.todoo-description {
    margin: 0 0 auto 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.todoo-date {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    margin-top: 23px;
    margin-right: 4px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 48px;
    padding-top: 25px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 37px;
    top: 22px;
    width: 35px;
    height: 35px;
    border: 1px solid #717171;
    background-color: #D2D2D2;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 46px;
    top: 30px;
    width: 18px;
    height: 14px;
    border-radius: 1px;
    border-left: 4px solid #717171;
    border-bottom: 4px solid #717171;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
